.radio-button {
  align-items: center;
  display: flex;
  font-size: 12pt;
  line-height: normal;
  height: auto;
  padding: 5px 15px 5px 15px;
  width: 50%;
}

.radio-button-content {
  align-items: center;
  display: flex;
  gap: 10px;
  height: auto;
  justify-content: flex-start;
}

.radio-button-icon {
  font-size: 1.2em;
}

.radio-button-help-text {
  font-size: 0.8em;
}

.radio-button-text {
}

.radio-group {
  display: flex;
  justify-content: center;
}
