.footer {
    background-color: white;
    bottom: 32.1875px; /* TODO calculate based on height of StatusBar component? */
    display: flex;
    justify-content: center;
    right: 0;
    max-width: calc(100% - var(--navigation-bar-width));
    padding-bottom: 15px;
    padding-top: 15px;
    position: fixed;
    width: 100vw;
}

.footer-button {
    margin-right: 15px;
    width: 200px;
}