.container {
    background-color: #F5F5F5;
    border: 1px solid black;    
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 12px;
    width: 100%;
}

.table {
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.table-cell {
    border: 1px solid var(--grey);
    padding: 8px;
    text-align: left;
}