.container {
    background-color: #F5F5F5;
    border: 1px solid black;    
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    width: 60%;
}

.table {
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
}

.table-cell {
    border: 1px solid var(--grey);
    padding: 8px;
    text-align: left;
}